.divNavigation{
    padding: 0;
    margin: 0;
}

.aNavigation{
    text-decoration: none;
    color: #fff;
}

.pNavigation{
    font-size: 24px;
    content: '';
    color: transparent;
    margin: 0;
    background-image: url('./home-4-svgrepo-com.svg#home');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -15px;
    transition: background-image 250ms cubic-bezier(0.25, 0.1, 0.25, 1), font-size 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pNavigation:hover{
    font-size: 28.8px;
    background-image: url('./home-4-hover-svgrepo-com\ копія.svg');
}



@media (max-width: 400px){
    .pNavigation{
        font-size: 16px;
        margin-left: -10px;
    }
}